rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Colección security: cada usuario solo puede leer/escribir la suya
    match /security/{uid} {
      allow read, write: if request.auth != null && request.auth.uid == uid;
    }
  }
}